general notes:
- the github page is pulling from the main index.html file NOT in the _site folder. i am not sure how we could add more pages to this site without adding folders and having a weird setup
- i think some of the gem dependencies on my computer are not working. it gives me an error when i try to "bundle exec jekyll serve" but everything looks like it's working so idk

front end:
- listing of all the merch on the front page with a photo of the front and back
    - include tax (10%)
    - include greekbill charge (4%)
    - there's one site that does shipping. i'm not sure if we're going to order from them again, but i will discuss this with shelby
    - i believe i have a list of the prices from this past year, if possible make things editable in case that values change
- have a checkout cart
    - members can add items to the cart
- have a confirm purchases page that lists all of the items in one's cart (like payment, but it's just submission of the form)
- each member has the ability to "login" to their existing page
    - this can be a real login, or just a code they create or that we provide that allows them to get back into their previous list of shopping stuff

back end:
- caluclates each person's total charge
- calculates the total charge of the chapter
- calculates the total number of each shirt design
- calculates quantity of each size of each shirt design (like 3 mediums, 4 larges, etc)
    - also.. if possible, have a name attached to each size..? idk
